.searchbar {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
}

.searchForm {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.searchForm_input {
  width: 400px;
  border-radius: 10px;
  border: solid;
  height: 30px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.searchForm_button {
  height: 30px;
  width: 70px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #e07cd7;
  border: none;
  border-radius: 4px;
  margin-left: 24px;
  fill: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 30px;
}

.searchForm_button:focus {
  background-color: rgb(238, 199, 233);
}
